<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>68c1c13fb15ba4643918423872d651e7</string>
	<key>FacebookAppID</key>
	<string>277882126180147</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb277882126180147</string>
				<string>ak277882126180147</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
